 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #93a0d7, #764ba2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container {
  background-color: #09254b;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 500px;
  width: 90%;
  display: flex;
 }
h1,h2{
  color: #ffffff;
  font-size: 1.9rem;
  margin-bottom: 20px;
  text-align: center;

}

.quiz-container {
  font-size: 2rem;
  color: #d1c7c7;
  margin-bottom: 20px;
  text-align: left;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#question {
  font-size: 1.2rem;
  margin-bottom: 1rem;
    color: #171515;
    font-weight: bold;
  width: 50%;
  padding: 0.6rem;
  border: 2px solid #0c84c0;
  background-color: #c2ccd0;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  }
